/*Especificidad 001*/
body{
    background-color: #D2B48C;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Especificidad 001*/
form{
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    grid-gap: 10px;
    background-color: #101926;
    width: 250px;
    height: 300px;
    padding: 30px;
    margin: auto;
    border-radius: 20px;

}

/*Especificidad 001*/
form *{
    border-radius: 10px;
}

/*Especificidad 001*/
input{
    background-color: rgb(78, 78, 78);
    color: white;
}

/*Especificidad 011*/
input[type="text"]{
    grid-column: 1 / 5;
    background-color: rgb(79, 94, 65);
    padding: 5px;
    text-align: right;
    color: black;
}

/*Especificidad 011*/
input[name="suma"], input[name="resta"], input[name="multiplicacion"], input[name="division"]{
    background-color: red;
    color: black;
}

/*Especificidad 011*/
input[name="mrc"], input[name="mMas"], input[name="mMenos"]{
    background-color: rgb(39, 38, 38);
    color: white;
}

/*Especificidad 011*/
input[value="="]{
    background-color: white;
    color: black;
}

label{
    display: none;
}