/*especificidad 001*/
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgb(120, 206, 120);
}

/*especificidad 001*/
body *{
    padding: 10px;
}

/*especificidad 001*/
form{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    width: 100%;
    margin-left: 200px;
}

/*especificidad 001*/
table{
    text-align: left;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-shadow: 7px 13px 37px black;
}

/*especificidad 001*/
th, tr, td{
    background-color: #F5DCB3;
    border: solid 1px black;
    padding: 10px;
}

/*especificidad 011*/
tr:first-of-type *{
    background-color: #F5CF47;
}

/*Especificidad 011*/
input:hover{
    background-color: #F5CF47;
    border: black;
}

/*Especificidad 011*/
input:active{
    color: green;
}

/*especificidad 001*/
img{
    max-width: 55ex;
    height: 10ex; 
}

/*especificidad 011*/
input[type="submit"]{
    display: none;
}

/*especificidad 011*/
input[type="button"]{
    font-size: 20px;
}

/*especificidad 001*/
label{
    display: none;
}