/*Especificidad 001*/
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #a7a7a7; 
}

/*Especificidad 001*/
h1{
    color: rgb(48, 48, 233);
}

/*Especificidad 001*/
form{
    display: grid;
    grid-template-columns: 500px;
    grid-gap: 10px;
    width: 510px;
    height: 500px;
    padding: 30px;
    margin: auto;
}

/*Especificidad 001*/
form *{
    border: none;
    font-size: 15px;
    font-weight: bold;
}

/*Especificidad 001*/
input{
    background-color: rgb(48, 48, 233);
    color: white;
    border: black;
}

/* label{
    background-color: rgb(48, 48, 233);
    color: white;
    border: black;
} */


/*Especificidad 011*/
input[name="number"]{
    background-color: rgb(76, 76, 192);
}

/*Especificidad 01*/
input:hover{
    background-color: rgb(66, 66, 66);
    border: black;
}

/*Especificidad 01*/
input:active{
    color: red;
}