/*especificidad 001*/
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: black;
}

/*Especificidad 001*/
body *{
    background-color: #FF6F00;
}

/*Especificidad 001*/
a{
    color: inherit; /*para que herede el color de su padre y no el predefinido para enlaces*/
}

/*Especificidad 012*/
header a:hover{
    background-color: black;
    color: white;
}

/*especificidad 001*/
img{
    max-width: 25ex;
    height: 30ex;
}

/*especificidad 001*/
video{
    max-width: 50ex;
    height: 40ex;
}





