/*especificidad 001*/
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: black;
    background-color: 	#FFA500;
}

header a{
    color: inherit;
}

header a:hover{
    background-color: black;
    color: white;
}

/*especificidad 001*/
img{
    width: 25ex;
    height: 30ex;
}

/*especificidad 001*/
video{
    width: 50ex;
    height: 40ex;
}





