
/*Especificidad 001*/
body{
    display: grid;
    gap: 5px;
    grid-template-columns: auto 300px;
    grid-template-rows: 150px auto auto 40px;
    grid-template-areas: 
        "header header"
        "section1 aside"
        "section2 aside"
        "footer footer";
}


/*Especificidad 001*/
header{
    grid-area: header;
    text-align: center;
}

/*Especificidad 002*/
header>nav{
    display: grid;
    grid-template-areas: 
    "enlace1 enlace2 enlace3";
}

/*Especificidad 001*/
nav>*{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
}

/*Especificidad 011*/
nav:nth-child(1){
    grid-area: enlace1;
}

/*Especificidad 011*/
nav:nth-child(2){
    grid-area: enlace2;
}

/*Especificidad 011*/
nav:nth-child(3){
    grid-area: enlace3;
}

/*Especificidad 011*/
section:first-of-type{
    grid-area: section1;
}


/*Especificidad 002*/
section>h2{
    text-align: center;
}

/*Especificidad 011*/
section:last-of-type{
    grid-area: section2;
    text-align: center;
}

/*Especificidad 001*/
aside{
    grid-area: aside;
}

/*Especificidad 001*/
footer{
    grid-area: footer;
}
