
/*Especificidad 001*/
body{
    display: grid;
    gap: 10px;
    grid-template-columns: auto 300px;
    grid-template-rows: 100px auto auto 25px;
    grid-template-areas: 
        "header header"
        "section1 aside"
        "section2 aside"
        "footer footer";
}


/*Especificidad 001*/
header{
    grid-area: header;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas:
    "encabezado"
    "nav";
}

header>h1{
    grid-area: encabezado;
}

header>nav{
    grid-area: nav;
}

/*Este apartado de secciones es especifo para aquellos 
documentos que tengan dos secciones y sean ubicadas como en la
estructura del index. Quizas tengamos que sacar info a un
grid.css padre y que este sea un gridIndex.css*/
/*Especificidad 001*/
section:first-of-type{
    grid-area: section1;
}
/*Especificidad 001*/
section:last-of-type{
    grid-area: section2;
}

/*Especificidad 001*/
aside{
    grid-area: aside;
}

/*Especificidad 001*/
footer{
    grid-area: footer;
}

/*Especificidad 001
body > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
}*/